header {
  margin: 0 auto;
  margin-bottom: 3em;
  width: 80%;
}
.content-div {
  display: flex;
  flex-direction: column;
}
.content-div h2 {
  text-align: center;
  margin-bottom: 2em;
}
.form {
  width: 80%;
  margin: 0 auto;
}
.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c7c3c3;
  margin-bottom: 2em;
  font-weight: 700;
}
.form-header h3 {
  text-align: center;
  margin: 0 auto;
}
.form-header a {
  text-decoration: none;
  color: #000;
  background-color: #fff;
  margin-right: auto;
}
.form-header p {
  color: #c7c3c3;
  font-weight: 700;
  cursor: pointer;
  margin-left: auto;
  font-size: 1.3rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
form button {
  border: none;
  background-color: transparent;
}
form .input-div {
  background-color: #f6f6f6;
  padding: 0.5em 1em;
}
form .input-div:last-of-type {
  display: flex;
  padding: 1em;
}
form .input-div div {
  padding: 1em 0;
  display: flex;
  align-items: center;
}
form .input-div div:first-of-type {
  border-bottom: 1px solid #c7c3c3;
}
form div input {
  margin-left: auto;
  width: 100%;
  padding: 0.35em 1em;
  border: none;
  outline: none;
  background-color: transparent;
  text-align: right;
  font-size: 1.05rem;
  font-weight: 700;
}
form .input-div:last-of-type input {
  width: 30%;
  border-radius: 50%;
}
.show-reminders-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
}
.reminder-div {
  padding: 1em 2em;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
}
.reminder-div p:last-of-type {
  border: 1px solid #000;
  border-radius: 0.5rem;
  padding: 0.5em 1em;
  cursor: pointer;
  width: 20%;
  text-align: center;
}
